<a href="https://colab.research.google.com/github/NeoLin1103/104_web_scraping/blob/main/104_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# install chromium, its driver, and selenium
!apt update
!apt install chromium-chromedriver
!pip install selenium
!pip install tqdm

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [69.5 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [753 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,396 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [630 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,434 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,809 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [926 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,213 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,835 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [665 kB]
Fetched 14.0 MB in 3s (4,043 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
68 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 68 not upgraded.
Need to get 95.3 MB of archives.
After this operation, 323 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 94.0.4606.81-0ubuntu0.18.04.1 [1,135 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 94.0.4606.81-0ubuntu0.18.04.1 [85.0 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 94.0.4606.81-0ubuntu0.18.04.1 [4,164 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 94.0.4606.81-0ubuntu0.18.04.1 [4,963 kB]
Fetched 95.3 MB in 5s (20.1 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_94.0.4606.81-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (94.0.4606.81-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_94.0.4606.81-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (94.0.4606.81-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_94.0.4606.81-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (94.0.4606.81-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_94.0.4606.81-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (94.0.4606.81-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (94.0.4606.81-0ubuntu0.18.04.1) ...
Setting up chromium-browser (94.0.4606.81-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (94.0.4606.81-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (94.0.4606.81-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting selenium
  Downloading selenium-4.0.0-py3-none-any.whl (954 kB)
     |████████████████████████████████| 954 kB 5.0 MB/s
Collecting urllib3[secure]~=1.26
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 60.1 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
     |████████████████████████████████| 356 kB 56.4 MB/s
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.2.0)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (2021.5.30)
Collecting cryptography>=1.3.4
  Downloading cryptography-35.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 27.6 MB/s
Collecting pyOpenSSL>=0.14
  Downloading pyOpenSSL-21.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.6 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.14.6)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.20)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.4 MB/s
Installing collected packages: sniffio, outcome, h11, cryptography, async-generator, wsproto, urllib3, trio, pyOpenSSL, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.7 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed async-generator-1.10 cryptography-35.0.0 h11-0.12.0 outcome-1.1.0 pyOpenSSL-21.0.0 selenium-4.0.0 sniffio-1.2.0 trio-0.19.0 trio-websocket-0.9.2 urllib3-1.26.7 wsproto-1.0.0
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.62.3)

In [5]:
from selenium import webdriver
# set options to be headless, ..
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

options.add_argument("start-maximized")
options.add_argument("enable-automation")
options.add_argument("--disable-infobars")
options.add_argument("--disable-browser-side-navigation")
options.add_argument("--disable-gpu")

In [6]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as rq
import time
from tqdm import tqdm, trange

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [ ]:
"""
1. 可以嘗試使用selenium從主頁搜尋關鍵字"數據分析"
2. 自動獲得總頁數資料
3. webdriver打開子頁速度很慢，有沒有更好的方法?
* 修正排版 (統一變數名稱)
"""

In [ ]:
"""
職稱和公司名稱
薪資
工作內容
擅長工具和工作技能
其他條件
"""

In [7]:
urls = []

#第一頁的前十個是廣告不能用
url = f"https://www.104.com.tw/jobs/search/?ro=0&kwop=7&keyword=%E6%95%B8%E6%93%9A%E5%88%86%E6%9E%90&expansionType=job&order=15&asc=0&page={1}&mode=s&jobsource=cmw_redirect"
request = rq.get(url)
soup = BeautifulSoup(request.text, 'lxml') 
#主頁中的各職缺訊息
articles = soup.find_all("article")
for j in range(10,30):
  #獲得各職缺子頁的url
  url = articles[j].find("a", {"class": "js-job-link"})["href"]
  urls.append(url)

In [8]:
for i in trange(2,100):
  #進入主頁，並進行換頁
  url = f"https://www.104.com.tw/jobs/search/?ro=0&kwop=7&keyword=%E6%95%B8%E6%93%9A%E5%88%86%E6%9E%90&expansionType=job&order=15&asc=0&page={i}&mode=s&jobsource=cmw_redirect"
  request = rq.get(url)
  soup = BeautifulSoup(request.text, 'lxml') 
  #主頁中的各職缺訊息
  articles = soup.find_all("article")
  for j in range(20):
    #獲得各職缺子頁的url
    url = articles[j].find("a", {"class": "js-job-link"})["href"]
    urls.append(url)
  time.sleep(1)

100%|██████████| 98/98 [04:28<00:00,  2.74s/it]

In [ ]:
print(len(urls))

180

In [9]:
jobs_scraper = {}

In [10]:
#薪資
#確定一下為什麼一頁變成24篇 (是因為webdriver跟request的差別? (不是)) (第一頁有32篇，後面每一頁是22篇)
#每一頁最後兩個是不需要的
#第一頁前十個是廣告
articles = []

#第一頁的前十個是廣告不能用
url = f"https://www.104.com.tw/jobs/search/?ro=0&kwop=7&keyword=%E6%95%B8%E6%93%9A%E5%88%86%E6%9E%90&expansionType=job&order=15&asc=0&page={1}&mode=s&jobsource=cmw_redirect"
request = rq.get(url)
soup = BeautifulSoup(request.text, 'lxml') 
#主頁中的各職缺訊息
article = soup.find_all("article")
for j in range(10,30):
  articles.append(article[j])

In [11]:
for page in trange(2,100):
  url = f"https://www.104.com.tw/jobs/search/?ro=0&kwop=7&keyword=%E6%95%B8%E6%93%9A%E5%88%86%E6%9E%90&expansionType=job&order=15&asc=0&page={page}&mode=s&jobsource=cmw_redirect"
  request = rq.get(url)
  soup = BeautifulSoup(request.text, 'lxml') 
  article = soup.find_all("article")
  for i in range(20):
    articles.append(article[i])
  time.sleep(1)

100%|██████████| 98/98 [04:31<00:00,  2.77s/it]

In [12]:
jobs_scraper["Salary"] = []
for i in trange(len(articles)):
  #從主頁得到的各職缺訊息即可得到薪資資料
  salary = articles[i].find("span", {"class":"b-tag--default"})
  jobs_scraper["Salary"].append(salary.text)

100%|██████████| 1980/1980 [00:00<00:00, 6849.52it/s]

In [13]:
print(len(jobs_scraper["Salary"]))

1980

In [ ]:
print(jobs_scraper["Salary"][:30])

['待遇面議', '月薪40,000~60,000元', '待遇面議', '待遇面議', '待遇面議', '月薪38,000元以上', '待遇面議', '月薪64,000~78,000元', '待遇面議', '待遇面議', '月薪40,000~50,000元', '待遇面議', '待遇面議', '待遇面議', '待遇面議', '月薪32,000~60,000元', '待遇面議', '待遇面議', '月薪34,000~45,000元', '待遇面議', '待遇面議', '待遇面議', '待遇面議', '月薪40,000元以上', '待遇面議', '月薪26,000~40,000元', '月薪34,000元以上', '月薪35,000~41,000元', '月薪30,000~40,000元', '月薪35,000~42,000元']

In [52]:
#職稱和公司名稱
#要確定不同項目的順序有對得起來 (除了薪資以外都是使用相同的網址list)
#排除無關的搜尋結果 (已扣除廣告)
jobs_scraper["Position"] = []
jobs_scraper["Company"] = []
for i in trange(len(urls)):
  url = "http:" + urls[i]
  request = rq.get(url)
  soup = BeautifulSoup(request.text, 'lxml')
  #從各職缺子頁的title得到資料
  string_list = soup.title.text.split("｜")
  if len(string_list) > 1:
    jobs_scraper["Position"].append(string_list[0])
    jobs_scraper["Company"].append(string_list[1])
  else:
    jobs_scraper["Position"].append("")
    jobs_scraper["Company"].append("")
  time.sleep(1)

100%|██████████| 1980/1980 [1:10:32<00:00,  2.14s/it]

In [51]:
i = 373
url = "http:" + urls[i]
request = rq.get(url)
soup = BeautifulSoup(request.text, 'lxml')
print(soup.title)

<title>職缺已關閉－104 人力銀行</title>

In [ ]:
print(jobs_scraper["Position"][:30])
print(jobs_scraper["Company"][:30])

['數據分析人員', '數據分析專員', '數據分析師', '數據分析人員', '數據分析師', '數據分析專案副理', 'Google Analytics 資深數據分析師', 'Data Analysis-數據分析產品經理', '資深會計暨數據分析管理師', '資訊-智慧數據分析工程師', '(內湖總公司)數據分析專案副理', '數據分析師/主管', '【台中市西屯區】 業務數據分析師', '數據分析師', '行銷數據分析師【明基BenQ雲端創新中心】', '數位行銷數據分析師', '【策略分析部】數據分析師', '數據分析顧問(B216)', 'AI數據分析工程師', 'EN10026 品質數據分析工程師']
['(總公司)南山人壽保險股份有限公司', '(總公司)南山人壽保險股份有限公司', 'Royce Tech Ltd', '神揚保險代理人股份有限公司', '台北神策諮詢顧問有限公司', '特力集團_特力股份有限公司', '英屬開曼群島商雲數位智能行銷有限公司台灣分公司', '替您錄科技股份有限公司(TGC Taiwan, Inc.)', '春霖國際股份有限公司', '臻鼎科技股份有限公司', '特力集團＿HOLA＿HOLA CASA＿HOLA Petite＿Crate&Barrel＿特力屋股份有限公司', '華騰企管顧問有限公司', '香港商鈞陽有限公司台灣辦事處', '弈樂科技股份有限公司', '明基電通股份有限公司', '台灣松下電器股份有限公司', '聯合智網股份有限公司', '精誠資訊股份有限公司', '科智企業股份有限公司', '華碩電腦股份有限公司']

In [ ]:
#其他條件
jobs_scraper["Other_requirements"] = []
for i in trange(len(urls)):
  url = "http:" + urls[i]
  driver = webdriver.Chrome(options=options) #用webdriver才有讀到
  driver.get(url)
  soup = BeautifulSoup(driver.page_source, 'html.parser')
  requirement = soup.find("p",{"class":"m-0 r3 w-100"})
  if requirement == None:
    jobs_scraper["Other_requirements"].append(" ")
  else:
    jobs_scraper["Other_requirements"].append(soup.find("p",{"class":"m-0 r3 w-100"}).text)
  driver.quit()

100%|██████████| 180/180 [16:32<00:00,  5.51s/it]

In [ ]:
print(jobs_scraper["Other_requirements"][:30])

[' 1. 具金融或電商產業相關經驗者尤佳\n2. 具備3年以上用戶數據分析經驗\n3. 具備良好商業邏輯能力\n4. 熟悉BI分析軟體(如:Tableau或Power BI)尤佳\n5. 細心、主動、邏輯能力強、態度認真負責 ', ' ●三至五年數據分析相關工作經驗，具金融保險工作經驗尤佳\n●具備良好的邏輯思考能力、溝通能力、整合能力及表達能力\n●熟悉SAS/Python/Access/Excel等\n●具團隊合作精神但也能獨立完成各項專案分析 ', ' 1. 具備數據分析、資料結構高度洞察力及良好的溝通及表達、獨立分析和解決問題及簡報能力。\n2. 具資料倉儲及統計規劃能力與經驗，熟悉SQL/Python/R/Excel等技術及商業智慧工具運用(SAS/Tableau)尤佳。 \n\n ', ' 1.對資料或資料結構具備高度敏感，並具備資料庫結構與擷取能力(基本需求：SQL、Google Analytics、Firebase、Excel)\n2.熟悉大數據處理相關技術與統計之資料相關實務經驗\n3.發掘消費者行為模式與偏好，據此建立數據資料分類，解讀分析的結果，以利行銷策略規劃、應用執行方案與行銷決策建議，分析消費者行為、社群行銷、電子商務.. 等領域\n4.從大量資料產出資料模型、數據分析報表與分析報告、儀表板(基本需求：Google Data Studio建立Dashboards、Python)\n ', ' 1.\t擅溝通、細心、認真負責\r\n2.\t數字邏輯佳，具數據分析相關經驗\r\n3.\t具財產和人身保險業務員資格證照者尤佳\r\n4.\t具有基礎程式能力及CRM分析經驗者優先錄取 ', ' 1.具有3年以上零售業電子商務以及會員數據分析相關經驗。\n2.熟悉Google Analytics/Facebook 等網站數據分析、報表或產出報告。 ', ' 1.大學(含)以上畢業。\n2.2年以上數據分析經驗；零售業、電商、數位產業佳。\n3.熟悉 SQL 語法；有 R / Python 經驗佳。\n4.熟悉 Tableau 操作或其他 BI 軟體。\n5.熟悉資料庫運作方式及管理觀念；有 ETL 經驗佳。\n6.具備會員分析經驗與數據報告撰寫能力，並對數據分析有熱忱。\n7.具備自我學習新技術或新工具的能力，必要時能獨立作業。 ', ' ▍必須條件\n\n• 數據分析相關科系，例如：資訊工程、資訊管理、生物統計、數學、統計、經濟、金融等，以及其他相等的背景\n• 會使用 Python 或 R 以及 SQL 或 MongoDB 資料查詢\n• 具熱誠願意溝通，並認同數據驅動、假設驗證的思維模式\n\n▍加分項目\n\n• 對爬蟲或 API 有基本認識\n• 大致了解 SQL Query、排程、ETL 等\n• 曾修習 Google Data Analytics Certificate\n• 曾修習實驗設計相關課程，包含：AB test、觀察性研究、實驗性研究、系統性回顧 ', ' 1.需具備統計知識與實務經驗，包含:分類分群、推薦、迴歸等，並具備規劃執行能力。\n2.需具有資料庫技術的專業知識，熟悉大量資料分析SQL撰寫調效能。\n3.具Python programming能力 (pandas, scikit-learn…)，可執行數據分析、機器學習 (regression, clustering, decision tree, network analysis…)。\n4.具三年以上會員數據分析相關經驗或零售產業經驗與知識尤佳。 ', ' 1.專業職能需求：A.學習能力: 具備極強的學習能力、自我驅動意識 \n                               B.數據分析能力: 具備優秀的數據分析能力\n                               C.邏輯力: 邏輯嚴謹，能夠獨立分析和解決問題\n                               D.溝通力: 具備優秀的溝通意識，良好的現場表達能力，能夠獨立負責和跟進項目\n                               E.團隊合作力: 具備團隊合作能力\n2.學經歷需求：A.1年以上相關經驗，零售相關產業優先\n                           B.大學及以上學歷，商業、統計及資訊相關專業優先\n\n3.其他需求：A.熟悉使用Power BI 優先\n                       B.熟練使用 SQL 優先\n                       C.熟悉 UI/UX 優先\n                       D.熟練使用 R / Python\n                       E.特質: 好奇、靈活、開放式思考、細節、易於溝通\n\n*履歷可以附帶相關數據分析作品集，或Github 連結\n ', ' 職位要求：\n1. 熟悉Excel操作\n2. 熟練掌握SPSS、R語言、Python建模能力尤佳。\n3. 精通統計理論相關知識,並有數據分析實際經驗尤佳。 ', ' ●教育程度 / 建議科系： 大學畢/數學或統計相關科系\n●相關經驗：具金融產業相關經驗1年以上\n●具SAS或統計數據分析能力\n●樂於與人溝通及合作 ', ' 具視覺化工具經驗者佳，如 Tableau、Power BI\n ', ' 熟捻深度學習技術尤佳\n\n1. 基於3D影像之物件(物件) 或是人體行為追中、偵測、辨識演算法設計與開發。\n2. 深度學習演算法研究與設計，熟悉深度神經網路的常用模型（CNN、RCNN、VGGNet、ResNet、GCN、GAN、GNN、YOLO等）。\n3. 深度學習模型訓練、開發與設計。 ', ' ', ' 1.作為數據分析師或相關領域的工作經驗2年以上工作經驗，或相關領域碩士學歷。\n2.對於AI、ML等開發運用有經驗者，加分。\n3.有成功的GA商業營用經驗者，加分。\n4.提供數據分析相關作品將優先面試。 ', ' ', ' 需擅長:數據統計分析/機率計算/資料庫應用 ', ' 熟捻深度學習技術尤佳\n\n1. 基於3D影像之物件(物件) 或是人體行為追中、偵測、辨識演算法設計與開發。\n2. 深度學習演算法研究與設計，熟悉深度神經網路的常用模型（CNN、RCNN、VGGNet、ResNet、GCN、GAN、GNN、YOLO等）。\n3. 深度學習模型訓練、開發與設計。 ', ' 1.\t有使用R、Tableau、PowerBi、Google Data Studio、Google Sheet、Google Slides、SQL(DQL)使用經驗尤佳 \r\n2.\tR、Java、C、C++、C#、Python、Matlab至少熟悉其中一項的使用 \r\n3.\t有Data Mining、Machine Learning概念尤佳 \r\n4.\t必須攜帶以下文件應試 \r\ni.\t自薦信 \r\nii.\t自傳 \r\n5.\t攜帶以下文件應試者尤佳: \r\ni.\t在學期間成績單 (大學以上) \r\nii.\t大學專題、碩士論文、已發表的期刊或會議論文 \r\niii.\t應試者自行準備的分析報告 (主題不拘，紙本或應試當日簡報皆可)\r\n ', ' - 至少2年以上 Google Analytics/Firebase 操作經驗 \n- 可運用 Google DataStudio 建立自動化報表、串接雲端資料來源\n- 具備 html概念，可運用網頁工具檢測、過濾、追蹤問題，會下 SQL, RegEx 指令尤佳\n- 物聯網 /OTT平台/ EC平台相關經驗\n- 至少1年以上數位行銷數據分析與報告經驗，且有實際應用的優化成果\n\n加分條件：\n1.有 SEO相關經驗\n2.大數據分析  ', ' （1）三年以上資料庫行銷或使用者分析等相關工作經驗、具大數據模型維運或系統開發專案尤佳；\n（2）熟悉Excel與Powerpoint，具良好數據分析及簡報能力； \n（3）喜好團隊合作並樂於溝通、積極主動、細心縝密、具有強烈責任心。 ', ' 1、\t擁有統計、數學等領域大學獲以上學位。\n2、\t作為數據分析師或相關領域的工作經驗2年以上工作經驗，或相關領域碩士學歷。\n3、\t與產品經理共事以評估潛在風險的能力。 \n4、\t能夠利用現有工具和數據庫進行分析，並提供應用軟體相關解決方案建議。 \n5、\t能夠將業務需求轉換為非技術性的非專業術語。\n6、\t了解元數據標準。\n7、\t持有加密貨幣並有投資獲利的經驗，加分。\n8、\t待過遊戲界，做過「從頭規劃起」的完整經濟體系；加分。\n9、\t待過遊戲界，有接手過經濟循環設計；加分。\n10、有五年以上的遊戲數值企劃經驗，加分。\n ', ' 1.熟悉Python、Ｒ、SAS、SPSS等任一分析工具者\n2.熟悉Tableau、SQL、資料庫工具等使用經驗者\n3.有Data Mining、Machine Learning、Predictive Model經驗者尤佳\n\n★面試者請準備一份分析報告或相關經驗簡介\u3000\n(主題不拘，可附加檔案上傳，作為加分項目) ', ' 1. 工業工程、工業管理、資工或資管、機械工程、企管等相關科系碩士，或具備實務生產線經驗者。\n2. 具初步AI模型建構能力，問題分析與自學能力。\n3. 具備實際執行AI專案經驗。\n4. 須具備基礎SQL語言能力，對於資料庫具實際操作經驗。\n4. 具備計畫書撰寫、簡報製作能力。\n6. 參與過Kaggle競賽為佳。\n7. 外語能力依中心規定。 ', ' 1.具備投信業從業人員證照。\n2.工作態度主動積極、邏輯清楚且溝通能力佳。\n3.無經驗可，願意接受培訓。 ', ' 1.具資料查詢與維護語言（SQL）使用經驗尤佳\n2.具臨床醫護經驗尤佳\n3.具醫藥衛生、護理背景尤佳\n4.熟悉統計分析軟體(R) ', ' 1.大學(含)以上畢業。\n2.2年以上數據分析經驗；零售業、電商、數位產業佳。\n3.熟悉 SQL 語法；有 R / Python 經驗佳。\n4.熟悉 Tableau 操作或其他 BI 軟體。\n5.熟悉資料庫運作方式及管理觀念；有 ETL 經驗佳。\n6.具備會員分析經驗與數據報告撰寫能力，並對數據分析有熱忱。\n7.具備自我學習新技術或新工具的能力，必要時能獨立作業。 ', ' 科系限制：企業管理學類, 社會學類, 政治學類, 公共行政學類, 數理統計學類, 資訊科學類.\r\n\r\n1. 熟悉語意分析、資料探勘之調查方法\r\n3. 熟悉SPSS、SAS、STATA統計軟體\r\n4. 有民意調查、市場調查、資料探勘經驗者，優先錄用 ', ' 1. 具兩年以上市場調查及分析相關工作經驗者\n2. 熟悉SQL語法、商業智慧軟體，數據分析工具R或Python者佳\n3. 需具備撰寫調查分析報告及口頭簡報能力\n4. 多益550分以上 ']

In [14]:
#擅長工具和工作技能
skills_urls = []
for i in trange(len(urls)):
  url = "http:" + urls[i]
  try:
    driver = webdriver.Chrome(options=options)
    driver.get(url)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    try:
      skill = soup.find_all("p", {"class","mb-0 r3"})[0]
      skills_urls.append(skill.find("a")["href"]) #從各職缺子頁再連結到擅長工具和工作技能的頁面
    except:
      #skill.find("a") == None
      #soup.find_all("p", {"class","mb-0 r3"}) == None
      skills_urls.append([])
    driver.quit()
  except:
    skills_urls.append([])

100%|██████████| 1980/1980 [2:51:31<00:00,  5.20s/it]

In [15]:
jobs_scraper["Skills_list"] = []
for i in trange(len(skills_urls)):
  if len(skills_urls[i])==0:
    jobs_scraper["Skills_list"].append([])
  else:
    url = "http:" + skills_urls[i]
    request = rq.get(url)
    soup = BeautifulSoup(request.text, 'lxml')
    #獲得擅長工具和工作技能
    items = soup.find_all("a",{"class","skillSideBar-list__item"})
    skills_list = []
    for item in items:
      skills_list.append(item["data-gtm-sidebar"])
    jobs_scraper["Skills_list"].append(skills_list)

100%|██████████| 1980/1980 [1:14:16<00:00,  2.25s/it]

In [16]:
print(len(jobs_scraper["Skills_list"]))

1980

In [ ]:
print(jobs_scraper["Skills_list"][:30])

[['工具-Python', '工具-R', '工具-MS SQL', '工具-Excel', '工具-PowerPoint', '工具-Power BI', '工具-Tableau', '技能-BI分析', '技能-數據分析', '技能-行銷策略規劃', '技能-競爭者分析', '技能-行銷活動', '技能-使用者研究', '技能-邏輯能力', '技能-分析報告撰寫', '技能-公司營運', '技能-產品開發', '技能-使用者行為', '語言-英文'], ['工具-Python', '工具-Access', '工具-Excel', '工具-Word', '工具-SAS', '工具-Oracle', '技能-整合能力', '技能-業務管理', '技能-表達能力', '技能-統計分析', '技能-專案分析', '技能-客服', '技能-金融保險', '技能-數據分析', '技能-大數據', '技能-報表製作', '技能-經營管理', '技能-客戶專案', '技能-行為分析', '技能-成本控管', '技能-商品銷售', '語言-英文', '職能-溝通能力', '職能-分析思考'], ['工具-Python', '工具-R', '工具-MS SQL', '工具-Tableau', '工具-SAS', '工具-ETL', '工具-SQL', '工具-Excel', '技能-資料結構', '技能-商業分析', '技能-預測', '技能-提案與簡報技巧', '技能-行銷推廣', '技能-統計', '技能-自動化', '技能-數據分析', '技能-模式分析', '技能-數據統計', '技能-策略分析', '技能-消費者行為', '技能-視覺化', '技能-商業智慧', '技能-數據分析報表', '語言-英文'], ['工具-MS SQL', '工具-Excel', '工具-PowerPoint', '工具-Word', '工具-Google Analytics', '工具-Firebase', '工具-Google Data Studio', '工具-Python', '工具-SQL', '技能-資料結構', '技能-跨部門溝通', '技能-營運', '技能-專案規劃與執行', '技能-社群行銷', '技能-統計', '技能-數據分析', '技能-大數據處理', '技能-消費者行為', '技能-視覺化', '技能-商業智慧', '技能-數據分析專案', '技能-行銷策略規劃', '技能-數據分析報表', '職能-溝通協調', '職能-溝通能力'], ['工具-Excel', '工具-PowerPoint', '工具-Word', '工具-中文打字20~50', '技能-需求分析', '技能-CRM分析', '技能-數據分析', '技能-商業分析', '技能-編寫'], ['工具-Google Analytics', '工具-Facebook', '技能-廣告企劃案╱文案撰寫', '技能-GA分析', '技能-網站數據分析', '技能-CRM', '技能-趨勢預測', '技能-統計', '技能-數據分析', '技能-會員資料分析', '技能-商品銷售', '技能-策略分析', '技能-數據建模', '技能-視覺化', '技能-黏著度', '語言-英文'], [], [], ['工具-Python', '工具-PostgreSQL', '工具-Pandas', '工具-Oracle', '工具-SQL', '技能-零售通路', '技能-機器學習', '技能-營運', '技能-規劃執行', '技能-會員精準行銷', '技能-程式開發', '技能-資料科學', '技能-統計', '技能-Clustering', '技能-專案分析', '技能-數據分析', '技能-行為分析', '技能-Network analysis', '技能-大數據', '技能-scikit-learn'], ['工具-Python', '工具-MS SQL', '工具-Power BI', '工具-Github', '工具-SQL', '技能-UI', '技能-UX', '技能-數據分析', '技能-統計', '技能-表達能力', '技能-教學'], [], [], ['工具-Tableau', '工具-Power BI', '技能-專案導入', '技能-數據分析', '技能-視覺化', '技能-統計分析'], ['工具-Python', '工具-神經網路', '技能-軟體工程系統開發', '技能-軟體程式設計', '技能-演算法設計', '技能-深度學習', '技能-3D影像', '技能-軟體設計', '技能-規劃執行', '技能-人工智慧', '技能-軟體架構', '技能-程式開發', '技能-演算法', '技能-CNN', '技能-影像辨識'], ['工具-Python', '工具-R', '工具-Tableau', '工具-Power BI', '工具-SPSS', '工具-Excel', '工具-R語言', '技能-數據分析', '技能-操作', '技能-統計理論', '技能-數據清洗', '技能-數據建模', '技能-趨勢預測', '語言-英文'], ['工具-Python', '工具-R', '工具-MS SQL', '工具-MySQL', '工具-PLSQL', '工具-PostgreSQL', '工具-Excel', '工具-Tableau', '工具-Google Analytics', '工具-Oracle', '技能-諮詢服務', '技能-數據分析', '技能-人工智慧', '技能-教育訓練', '技能-機器學習', '技能-數據管理', '技能-分析系統', '技能-技術文件', '語言-英文'], ['工具-Python', '工具-R', '工具-MySQL', '工具-Excel', '工具-Google Analytics', '工具-Google Tag Manager', '工具-Firebase', '工具-SAS', '工具-SQL', '技能-專案時間╱進度控管', '技能-專案規劃執行╱範圍管理', '技能-專案溝通╱整合管理', '技能-諮詢服務', '技能-數學', '技能-統計分析', '技能-數據分析', '技能-表達能力', '技能-解決客戶問題', '技能-分析系統', '語言-英文'], ['工具-Python', '工具-R', '工具-MySQL', '工具-Tableau', '技能-資料結構', '技能-資料庫應用', '技能-大數據處理', '技能-消費者行為', '技能-數據分析報表', '技能-數據統計分析', '技能-社群行銷', '技能-行銷策略規劃', '技能-統計'], ['工具-Python', '工具-神經網路', '技能-軟體工程系統開發', '技能-軟體程式設計', '技能-3D影像', '技能-人工智慧', '技能-演算法設計', '技能-影像辨識', '技能-CNN', '技能-物件偵測', '技能-深度學習', '技能-演算法', '語言-英文'], ['工具-C', '工具-C#', '工具-C++', '工具-Java', '工具-Matlab', '工具-Python', '工具-R', '工具-Excel', '工具-PowerPoint', '工具-SAS', '工具-Power BI', '工具-Tableau', '工具-SQL', '工具-Google Data Studio', '技能-需求分析', '技能-數據分析', '技能-機器學習', '技能-萃取', '技能-DQL', '技能-資料探勘', '語言-英文'], ['工具-Google Analytics', '工具-Google Tag Manager', '工具-HTML', '工具-Firebase', '工具-SQL', '技能-網站流量成效追蹤', '技能-需求分析', '技能-操作', '技能-公司營運', '技能-OTT', '技能-檢測', '技能-營運', '技能-SEO', '技能-分條', '技能-良好溝通能力', '技能-自動化', '技能-數位行銷', '技能-數據分析', '技能-物聯網', '技能-大數據分析', '技能-量化研究方法', '技能-數據分析報表', '語言-英文'], ['工具-Excel', '工具-PowerPoint', '工具-ETL', '技能-提案與簡報技巧', '技能-數據分析', '技能-資料庫行銷', '技能-商品銷售', '技能-使用者分析', '技能-系統開發', '技能-成效分析', '技能-預測', '技能-數據處理'], [], ['工具-Python', '工具-R', '工具-ANSI SQL', '工具-MS SQL', '工具-MySQL', '工具-PLSQL', '工具-PostgreSQL', '工具-Tableau', '工具-Google Analytics', '工具-Google Data Studio', '工具-Firebase', '工具-SAS', '工具-SPSS', '工具-SQL', '工具-Excel', '工具-Oracle', '技能-數據分析', '技能-調試', '技能-人工智慧', '技能-資料探勘', '技能-教育訓練', '技能-應用軟體', '技能-機器學習', '技能-大數據分析', '技能-數據倉庫', '技能-大數據', '技能-數學', '技能-統計', '語言-英文'], [], ['工具-Excel', '工具-Outlook', '工具-PowerPoint', '工具-Word', '工具-中文打字50~75', '證照-信託業業務人員信託業務專業測驗【信託法規乙科】', '證照-證券商高級業務員', '證照-投信投顧業務員', '證照-金融市場常識與職業道德', '證照-信託業業務人員信託業務專業測驗', '技能-市場調查企劃與執行', '技能-市場調查資料分析與報告撰寫', '技能-調查樣本統計分析', '技能-溝通能力佳', '技能-數據分析', '技能-業務分析', '技能-資料處理', '技能-成效追蹤'], ['工具-Excel', '工具-PowerPoint', '工具-Word', '工具-SPSS', '工具-SQL', '技能-臨床試驗', '技能-資料整理', '技能-可行性評估', '技能-護理', '技能-數據分析', '技能-影像標註', '技能-醫藥衛生', '技能-統計分析'], [], ['工具-Excel', '工具-PowerPoint', '工具-Word', '工具-SPSS', '工具-SAS', '工具-Stata', '技能-資料探勘', '技能-資訊科學', '技能-邏輯思維', '技能-語意分析', '技能-數據分析', '技能-公共行政學', '技能-市場分析', '技能-大數據分析', '技能-數理統計', '技能-統計', '技能-洞察'], ['工具-Python', '工具-R', '工具-MS SQL', '工具-JSP', '工具-SPSS', '證照-TOEIC (多益測驗)', '技能-提案與簡報技巧', '技能-市場調查資料分析與報告撰寫', '技能-統計軟體操作', '技能-調查分析', '技能-行銷經營', '技能-行銷策略規劃', '技能-行銷活動', '技能-市場分析', '技能-成效分析', '技能-商業智慧', '技能-統計', '技能-數據分析', '技能-視覺化', '語言-英文']]

In [ ]:
#工作內容
jobs_scraper["Job_description"] = []
for i in trange(len(urls)):
  url = "http:" + urls[i]
  request = rq.get(url)
  soup = BeautifulSoup(request.text, 'lxml')
  try:
    jobs_scraper["Job_description"].append(soup.find_all("meta",{"property":"og:description"})[0]["content"])
  except:
    jobs_scraper["Job_description"].append([])
  time.sleep(1)

100%|██████████| 20/20 [00:29<00:00,  1.49s/it]

In [ ]:
print(len(jobs_scraper["Job_description"]))
print(jobs_scraper["Job_description"][:30])

20
['【工作內容】台北市信義區 - ●建立推廣分析架構並提出建議，以透過數據分析提升對AG及客戶之洞察並制定後續業務推動行動方案\n●檢視並分析各項商品推動動態，以建立推動策略及SOP，以達業績目標\n●執行資源整合及獎勵推廣簡報製作，以利…。薪資：月薪38,000元以上。職務類別：統計精算人員、市場調查／市場分析、統計學研究員。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市信義區 - 主要職務內容為運用公司客戶及業務員行為資料庫進行各項業務數據分析，協助經營管理階層掌握重要業務數據以擬定業務發展策略及各項業務提升計劃\n●運用big data及統計分析方法建置業務員行為分析模型以協助…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：市場調查／市場分析、統計精算人員。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】義大利 - 工作內容：\n數據清洗、數據建模、數據分析、趨勢預測。\n\n職位要求：\n1. 深度熟悉Excel操作,熟練掌握SPSS\\R語言\\Python建模能力尤佳。\n2. 精通統計理論相關知識,並有數據分析實際經驗…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：軟體設計工程師、Internet程式設計師、網頁設計師。休假制度：依公司規定。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】新北市新店區 - 1.整理編寫每週業務數據分析報告。\n2.專案需求分析、數據分析、商業分析和數據採擷模型等。\n3.提供業務部門數據分析報告，與業務部門合作開展業務專題分析。。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：市場調查／市場分析、統計精算人員、財務分析／財務人員。休假制度：週休二日。可上班日：一個月內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市中山區 - 工作職掌：\r\n1.以幫助客戶發現業務問題、發揮數據價值為導向，能深入理解客戶業務需求與痛點，確定客戶業務問題與目標，並給予有效的數據解決方案；\r\n2.從客戶業務需求場景出發，指導/協助客戶完成多維度指…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：電子商務技術主管、統計精算人員、系統分析師。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市內湖區 - 1.執行資料科學專案，將商業問題轉化為資料科學/數據分析問題\n2.根據會員及商品大數據，分析會員及商品輪廓，以協助公司於營運、行銷等方面之效益提升，規劃並執行集團零售通路會員精準行銷。\n3.客戶行為分…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：市場調查／市場分析、營運管理師／系統整合／ERP專案師、統計學研究員。休假制度：週休二日。可上班日：一個月內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市信義區 - 【必備條件】\n1. 熟悉Google Analytics 介面與數據指標(含EEC)，具有1年以上使用經驗。\n2. 具備數位行銷、流量分析、數據洞察應用能力，1年以上經驗。\n3. 具備Google A…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：其他資訊專業人員、軟體相關專案管理師、廣告AE業務人員。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市松山區 - 需求分析\n- 跨部門合作，具備良好溝通能力，協助釐清公司營運需求，提供技術單位開發規格；\n- 擅長利用質性與量化研究方法及分析工具得到數據洞見，提供相關觀察與策略建議。\n\n流量成長\n- 熟悉流量追蹤工…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：市場調查／市場分析、網站行銷企劃、產品企劃主管。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市中山區 - 如果你喜歡在年輕, 有活力的工作環境工作, 這個職缺很適合您多看看\n此職務屬行政管理部，會密切的與總經理(CFA)共事，是個很有挑戰也有趣的職務\n\n此應聘人員須能獨自處理\n1.一般會計帳務，日常費用支…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：記帳／出納／一般會計、主辦會計、行政人員。休假制度：依公司規定。可上班日：一個月內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】桃園市大園區 - 1. 與設備供應商、工廠、資料庫工程師合作，取得設備資料，探究資料是否詳盡，是否合理\n2. 以統計手法、視覺化、機器學習、深度學習從數據中找尋脈絡與價值\n3. 相關前端、後端軟體開發\n4. 協調產學合…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：其他資訊專業人員、軟體設計工程師。休假制度：依公司規定。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市內湖區 - 1.執行資料科學專案，將商業問題轉化為資料科學/數據分析問題\n2.根據會員及商品大數據，分析會員及商品輪廓，以協助公司於營運、行銷等方面之效益提升，規劃並執行集團零售通路會員精準行銷。\n3.客戶行為分…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：統計學研究員、市場調查／市場分析、營運管理師／系統整合／ERP專案師。休假制度：週休二日。可上班日：一個月內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台中市烏日區 - 1、資料倉儲管理與數據中心建置。\n2、根據營運與業務所需, 提供數據分析結果。\n3、依據數據處理與分析需求，建構數據模型，視實際情況調整並優化模型與流程。\n4、運用數據演算法及工具進行數據搜集、處理及…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：統計精算人員、系統分析師、營運管理師／系統整合／ERP專案師。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台中市西屯區 - 1. 蒐集追蹤相關產業數據，維持數據來源品質及穩定性。\n2. 執行數據分析專案與任務，提供報表或簡報產出。\n3. 利用與建立分析數據指標並發掘問題，提供各單位營運上分析觀察與建議。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：軟體設計工程師。休假制度：依公司規定。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台中市西屯區 - ***應徵時請附上作品集、文案、自傳、證照等加分文件***\r\n1.\t需求分析及規劃資料萃取、資料清理 \r\n2.\t數據分析、資訊視覺化、說明分析結果、提出建議及後續成效評估 \r\n3.\t蒐集競業資訊、報表…。薪資：月薪32,000~60,000元。職務類別：市場調查／市場分析、統計精算人員。休假制度：週休二日。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市內湖區 - 【職務說明】\n一、數據設定 \n1. 實作並管理全球 B2B、B2C、Zowie等數十個國家之官網 Google Analytics、Google Tag Manager設定。 \n2. 在Google …。薪資：月薪30,000~100,000元。職務類別：軟體相關專案管理師、系統分析師、統計學研究員。休假制度：依公司規定。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市中山區 - 1.主要擔任集團企業網站會員管理、行銷族群提案企劃(包含設計軟體使用)\n2.數位廣告規劃、數據分析與執行(提案、KPI檢視)\n3.網站會員使用行為觀察、資料數據分析應用(GOOGLE分析等軟體使用)\n…。薪資：月薪31,700元以上。職務類別：網站行銷企劃、行銷企劃人員、產品行銷人員。休假制度：依公司規定。可上班日：一週內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市松山區 - 1. 挖掘數據Insight，讓數據提升價值，協助各單位靈活運用數據分析結果。\n2. 例行性報表產出\n3. BI-Tableau 多維度分析工具運用，能使用tableau進行分析設計。\n4. GA36…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：產品管理師、其他資訊專業人員、市場調查／市場分析。休假制度：週休二日。可上班日：一個月內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市內湖區 - 我們是Tableau、Microsoft Power Platform  & Dynamics 365與GCP BigData等產品的服務部門，從客戶的數據出發，協助客戶邁向「數位轉型」(Digita…。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：系統分析師、顧問人員、其他資訊專業人員。休假制度：依公司規定。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市中山區 -  1.AI及數據分析演算法開發\r\n 2.專案分析應用規劃及執行\r\n 3.建立分析結果報表，並將產出整合至產品\r\n 4.協助將客戶端業務邏輯轉化為技術需求\r\n 5.探索其他可能分析機會。薪資：待遇面議（經常性薪資達4萬元或以上）。職務類別：軟體設計工程師、通訊軟體工程師、軟體相關專案管理師。休假制度：依公司規定。可上班日：不限。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。', '【工作內容】台北市北投區 - 1. 維修數據分析與改善\r\n2. 專案導入與計畫執行\r\n3. 跨單位協調討論。薪資：月薪35,000元以上。職務類別：產品售後技術服務。休假制度：依公司規定。可上班日：一週內。工作性質：全職。主動應徵、找工作，請上 104 人力銀行投遞履歷。']

In [53]:
#創造pandas dataframe
df = pd.DataFrame(jobs_scraper)
df.head()

             Salary  ...        Company
0  月薪64,000~78,000元  ...  星威嘉數位媒體顧問有限公司
1              待遇面議  ...   王牌數位創新股份有限公司
2  月薪40,000~60,000元  ...   庫柏資訊軟體股份有限公司
3              待遇面議  ...       凡谷興業有限公司
4              待遇面議  ...   台北神策諮詢顧問有限公司

[5 rows x 4 columns]

In [54]:
df.to_excel("jobs_scraper.xlsx")

In [ ]:
#Data cleaning (薪資, 工具)

薪資regex

In [19]:
import re

In [20]:
df.Salary.describe()

count     1980
unique     268
top       待遇面議
freq       852
Name: Salary, dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Salary       1980 non-null   object
 1   Skills_list  1980 non-null   object
dtypes: object(2)
memory usage: 31.1+ KB

In [22]:
def payed_interval(x):
  salary = re.compile("(\w薪)")
  if salary.search(x) != None:
    return salary.search(x).group()
  else:
    return x

In [23]:
df.Salary.apply(payed_interval).value_counts()

月薪                   1055
待遇面議                  852
時薪                     41
年薪                     22
日薪                      3
論件計酬0元                  2
論件計酬300~15,000元         2
論件計酬1,000~20,000元       2
論件計酬2,000元以上            1
Name: Salary, dtype: int64

In [24]:
#以regex抓出薪資數字
#只計算支付月薪的薪資
def find_salary(x):
  if "月薪" in x:
    salary = re.compile("(\d{2},\d{3})")
    return salary.findall(x)
  else:
    return 0

In [25]:
#apply在dataframe
df["Salary_extracted"] = df.Salary.apply(find_salary)

In [26]:
df.head(20)

              Salary  ...  Salary_extracted
0   月薪64,000~78,000元  ...  [64,000, 78,000]
1               待遇面議  ...                 0
2   月薪40,000~60,000元  ...  [40,000, 60,000]
3               待遇面議  ...                 0
4               待遇面議  ...                 0
5               待遇面議  ...                 0
6               待遇面議  ...                 0
7   月薪29,000~31,000元  ...  [29,000, 31,000]
8   月薪32,000~60,000元  ...  [32,000, 60,000]
9   月薪35,000~45,000元  ...  [35,000, 45,000]
10  月薪30,000~40,000元  ...  [30,000, 40,000]
11       月薪38,000元以上  ...          [38,000]
12  月薪40,000~50,000元  ...  [40,000, 50,000]
13              待遇面議  ...                 0
14              待遇面議  ...                 0
15       月薪35,000元以上  ...          [35,000]
16              待遇面議  ...                 0
17              待遇面議  ...                 0
18       月薪34,000元以上  ...          [34,000]
19              待遇面議  ...                 0

[20 rows x 3 columns]

In [ ]:
"""
○1. 去掉','
○2. 將字串轉為數值
○3. 在有空list、一個值、和兩個值的情況下，計算用兩個值的最小值和平均值計算平均值
○4. 只計算月薪
"""

In [27]:
def avg_by_min(x):
  #除了薪資面議的資料
  if x != 0:
    #兩個值的資料取第一個
    #去掉","並轉換為數值
    return int(x[0].replace(",",""))
  else:
    return 0

In [28]:
df["Avg_by_min"] = df.Salary_extracted.apply(avg_by_min)

In [45]:
#有取到值的資料筆數(確定抓到的值都來自月薪)
len(df[df.Avg_by_min != 0])

1051

In [46]:
def test_avg_by_min(x):
  #除了薪資面議的資料
  if x != 0:
    #兩個值的資料取第一個
    #去掉","並轉換為數值
    return 1
  else:
    return 0

In [47]:
df.Salary_extracted.apply(test_avg_by_min).sum()
# 有四個月薪的值抓到0

1055

In [30]:
#計算平均值
sum_of_AvgByMin = df.Avg_by_min.sum()
print(f"數據分析相關工作的平均月薪為: {round(sum_of_AvgByMin/len(df[df.Avg_by_min != 0]),0)}元")

數據分析相關工作的平均月薪為: 33145.0元

In [31]:
def avg_by_avg(x):
  #除了薪資面議的資料
  if x != 0:
    #只有一個值(以上)
    if len(x) == 1:
      return int(x[0].replace(",",""))
    #有兩個值(區間)，取平均值  
    elif len(x) == 2:
      return (int(x[0].replace(",",""))+int(x[1].replace(",","")))/2
  else:
    return 0

In [32]:
df["Avg_by_avg"] = df.Salary_extracted.apply(avg_by_avg)

In [33]:
#有取到值的資料筆數(確定抓到的值都來自月薪)
len(df[df.Avg_by_avg != 0])

1051

In [34]:
#計算平均值
sum_of_AvgByAvg = df.Avg_by_avg.sum()
print(f"數據分析相關工作的平均月薪為: {round(sum_of_AvgByAvg/len(df[df.Avg_by_avg != 0]),0)}元")

數據分析相關工作的平均月薪為: 38046.0元

擅長技能

In [35]:
df_SkillLists = df.copy()
df_SkillLists.head()

             Salary  ... Avg_by_avg
0  月薪64,000~78,000元  ...    71000.0
1              待遇面議  ...        0.0
2  月薪40,000~60,000元  ...    50000.0
3              待遇面議  ...        0.0
4              待遇面議  ...        0.0

[5 rows x 5 columns]

In [36]:
# 確定項目數量
df_SkillLists.Skills_list.apply(lambda x: len(x)).sum()

23280

In [37]:
# list裡的每一個項目都獨立成一個row，後續以.value.value_counts()計算各技能的數量
df_SkillLists_expanded = df_SkillLists.Skills_list.apply(pd.Series).reset_index().melt(id_vars="index").dropna()[["index", "value"]].reset_index().copy()

In [38]:
print(f"There are {len(df_SkillLists_expanded)} items in the skills list.")
df_SkillLists_expanded.head(10)

There are 23280 items in the skills list.

   level_0  index                value
0        1      1            工具-Python
1        2      2           工具-Tableau
2        3      3            工具-Python
3        4      4            工具-Python
4        5      5            工具-Python
5        6      6            工具-Access
6        7      7             工具-Excel
7        8      8                 工具-C
8       10     10             工具-Excel
9       12     12  工具-Google Analytics

In [39]:
df_SkillLists_expanded.value.value_counts()[:20]

技能-數據分析                949
工具-Excel               739
語言-英文                  609
工具-PowerPoint          593
工具-Word                578
技能-操作                  292
工具-Google Analytics    280
工具-Python              242
工具-Facebook            222
技能-社群經營                215
工具-Outlook             212
技能-提案與簡報技巧             206
技能-商品銷售                188
技能-FB經營                186
技能-營運                  169
技能-廣告企劃案╱文案撰寫          165
工具-Photoshop           160
技能-行銷策略擬定              141
技能-品牌行銷管理              119
工具-Illustrator         117
Name: value, dtype: int64

In [40]:
def print_ranked_skills(ranked_skills, list_len):
  for i in range(list_len):
    print(f"Number {i+1} requested skill is \"{ranked_skills.index[i]}\", which has been mentioned {ranked_skills[i]} times.")

In [41]:
Ranked_skills = df_SkillLists_expanded.value.value_counts()
print_ranked_skills(Ranked_skills, 20)

Number 1 requested skill is "技能-數據分析", which has been mentioned 949 times.
Number 2 requested skill is "工具-Excel", which has been mentioned 739 times.
Number 3 requested skill is "語言-英文", which has been mentioned 609 times.
Number 4 requested skill is "工具-PowerPoint", which has been mentioned 593 times.
Number 5 requested skill is "工具-Word", which has been mentioned 578 times.
Number 6 requested skill is "技能-操作", which has been mentioned 292 times.
Number 7 requested skill is "工具-Google Analytics", which has been mentioned 280 times.
Number 8 requested skill is "工具-Python", which has been mentioned 242 times.
Number 9 requested skill is "工具-Facebook", which has been mentioned 222 times.
Number 10 requested skill is "技能-社群經營", which has been mentioned 215 times.
Number 11 requested skill is "工具-Outlook", which has been mentioned 212 times.
Number 12 requested skill is "技能-提案與簡報技巧", which has been mentioned 206 times.
Number 13 requested skill is "技能-商品銷售", which has been mentioned 188 times.
Number 14 requested skill is "技能-FB經營", which has been mentioned 186 times.
Number 15 requested skill is "技能-營運", which has been mentioned 169 times.
Number 16 requested skill is "技能-廣告企劃案╱文案撰寫", which has been mentioned 165 times.
Number 17 requested skill is "工具-Photoshop", which has been mentioned 160 times.
Number 18 requested skill is "技能-行銷策略擬定", which has been mentioned 141 times.
Number 19 requested skill is "技能-品牌行銷管理", which has been mentioned 119 times.
Number 20 requested skill is "工具-Illustrator", which has been mentioned 117 times.

In [42]:
#根據類別做排序
df_split_skills = df_SkillLists_expanded.value.apply(lambda x: x.split("-",1)).apply(pd.Series)

In [43]:
df_split_skills.columns = ["Types","Names"]
df_split_skills.head()

  Types    Names
0    工具   Python
1    工具  Tableau
2    工具   Python
3    工具   Python
4    工具   Python

In [44]:
Ranked_skills = df_split_skills[df_split_skills.Types == "工具"].Names.value_counts()
print_ranked_skills(Ranked_skills, 10)

Number 1 requested skill is "Excel", which has been mentioned 739 times.
Number 2 requested skill is "PowerPoint", which has been mentioned 593 times.
Number 3 requested skill is "Word", which has been mentioned 578 times.
Number 4 requested skill is "Google Analytics", which has been mentioned 280 times.
Number 5 requested skill is "Python", which has been mentioned 242 times.
Number 6 requested skill is "Facebook", which has been mentioned 222 times.
Number 7 requested skill is "Outlook", which has been mentioned 212 times.
Number 8 requested skill is "Photoshop", which has been mentioned 160 times.
Number 9 requested skill is "MS SQL", which has been mentioned 117 times.
Number 10 requested skill is "Illustrator", which has been mentioned 117 times.